<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Pagina Personala</title>
    </head>
    <body>
        {% block body %}
	<h1>Welcome Maria</h1>
	{% endblock %}
    </body>
</html>
