<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Pagina Florea Mihaela</title>
    </head>
    <body bgcolor= 	#008080>
       
	<h1>Welcome Florea Mihaela</h1>

<h4 align="center">Obiectivele mele</h4>

<ol>



<li>Sa am o familie sanatoasa </li>

<li>Sa fim fericiti </li>
<li>Sa am o slujba buna</li>

</ol> 
    </body>
</html>
