{% extends 'base.html.twig' %}

{% block title %}Maria Teglas - pagina mai putin statica{% endblock %}

{% block stylesheets %}
	<link type="text/css" rel="stylesheet" href="{{ asset('mariateglas/style.css') }}">
{% endblock %}

{% block body %}
	<div id="main">
	    <h1>Maria</h1>
	    <h2>PABD</h2>
	    <img src="{{ asset('mariateglas/maria.jpeg') }}" alt="An alternative me" class="polaroid">
	    <p>
	    	Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
	    </p>
	    <p>
	    	Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
	    </p>
	    <ul>
	    	<li>testing bullets</li>
	    	<li>but still testing them</li>
	    </ul>
	    <p>
	    	Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
    	</p>
	</div>
{% endblock %}
