{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome to the commonwealth!</h1>
    <div>
        This is a commonly generated project from the main tree of University wisdom.
    </div>
{% endblock %}
