.presentation{
position:absolute;
width:75%;
left:15%;
top:2%;
background-color:#222;
border:3px solid #ddd;
padding:5px;
text-align:center;
color:#eee;
font-weight:bold;
letter-spacing:2px;
font-size:10px;
font-family:Arial;

}
.left{
float:left;
width:60%;
}
.right
{
float:left;
width:38%;
margin-left:2%;
}
p{

text-align:justify;
text-indent:25px;
}

.image{
float:right;
padding:10px;
min-width:100px;

}

.title_h1,.title_h2{
color:#44f;
letter-spacing:2px;
}
.title_h1{
font-size:20px;
}
.title_h2{
font-size:12px;
}

ul{
padding:0px;
font-size:15px;
}
.odd{

background-color:#a0a0a0;

}
.even{background-color:#b0b0b0;

}
